---
layout: index
title: Home
---

<header>

</header>

<body>

    <h1 class="site-title" style='font-family: "Abril Fatface", serif;'>welcome</h1>
    <p class="lead"> Let's get weird</p>

  {% assign pages_list = site.pages|sort:"sidebar_sort_order" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        <a class="page-link {% if page.url == node.url %} active{% endif %}"
          href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
      {% endif %}
    {% endfor %}

    <p>Recipes, photography, thoughts and more.</p>
  <img src="./assets/images/teton-mirror.png">
</body>

<footer>
<p>Email me at <a href="mailto:jamo@jgriffith.me">{{site.email}}</p>
</footer>
