// Personal branding
$primary-color: #0E0E52;
$secondary-color: #edcb96;
$neutral-color: #F2433;
$accent-color: #FFB8D1;


$font-path: "../branding/fonts";

@font-face {
font-family: "plex-mono";
src: url("#{$font-path}/PlexMono-Bold.ttf") format("truetype");
font-weight: bold;
}

@font-face {
font-family: "plex-mono";
src: url("#{$font-path}/PlexMono-Reg.ttf") format("truetype");
font-weight: regular;
}

@font-face {
font-family: "plex-sans";
src: url("#{$font-path}/PlexSans-Reg.ttf") format("truetype");
font-weight: regular;
}
@font-face {
font-family: "plex-sans";
src: url("#{$font-path}/PlexSans-Bold.ttf") format("truetype");
font-weight: bold;
}
@font-face {
font-family: "plex-sans";
src: url("#{$font-path}/PlexSans-Light.ttf") format("truetype");
font-weight: light;
}
