<nav id="sidebar-icon-links">
  
  <a id="github"
     class="icon" title="GitHub"
     href="https://go.jamison.codes/repos">
	  {% include social/github.svg width=40 %}

  </a>
  <a id="twitter"
     class="icon" title="Twitter"
     href="https://go.jamison.codes/twitter">
	  {% include social/twitter.svg %}

  </a>
  <a id="linkedin"
     class="icon" title="LinkedIn"
     href="https://go.jamison.codes/jobs">
	  {% include social/linkedin.svg %}
  </a>

  <a id="subscribe-link"
     class="icon" title="Subscribe" aria-label="Subscribe"
     href="{{ site.baseurl }}/{{ site.feed.path | default: 'feed.xml' }}">
    {% include svg/feed.svg %}
  </a>

</nav>
